.hero-container{
    height: 100vh;
    background-image:
            linear-gradient(to bottom, rgba(27, 205, 204, 0.8), rgba(27, 205, 204, 0.8)),
            url('../../images/background-hero.png');
    background-size: cover;
}

.hero-text{
    margin: 10% auto;
    text-align: center;
    color: white;
    height: 80%;
    text-transform: uppercase;
}

.hero-main-text{
    font-size: clamp(20px,5vw, 55px);
    font-weight: 200;
    letter-spacing: 3px;
}

.hero-secondary-text{
    font-size: clamp(13px, 2vw, 25px);
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-button-block{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hero-button-block .hero-secondary-text{
    margin: 0;
}

@media screen and (max-width: 768px) {
    .hero-container{
        height: 570px;
    }

    .hero-text{
        padding: 0 20px;
    }

}

@media screen and (max-width: 426px) {
    .hero-container{
        height: 420px;
    }

    .hero-text{
       padding: 0 10px;
    }

}

