
.contact-form-container{
    height:calc(100% - 100px);
    width: calc(100% - 80px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 40px;
}

.contact-form-wrapper{
    width: calc(75% - 140px);
    height: calc(100% - 80px);
    background: white;
    border-radius: 26px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-title{
    text-align: center;
    margin-top:0;
    font-size: clamp(20px, 2.3vw, 45px);
    letter-spacing: 3px;
    color: #144388

}

.contact-form{
    display: flex;
    height: 600px;
    width: calc(80% - 60px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name-block{
    width: 100%;
    display: flex;
    gap: 10%;
}

.contact-form-input-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form-label{
    color: #b1b1b1;
    margin-left: 5px;
    font-size: clamp(10px, 1.3vw, 20px);
}

.contact-form-input{
    color: #858585;
    padding: 15px 17px;
    border-radius: 9px;
    border: 2px solid rgb(177, 177, 177);
    font-size: clamp(10px, 1.3vw, 20px);
    opacity: 0.8;
    outline: none;
}

.contact-form-input:focus,
.contact-form-input:active{
    border: 2px solid #1bcdcc;
    opacity: 1;
}

.name-block .contact-form-input-block{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit-btn{
    border: none;
    width: fit-content;
    padding: 15px 30px;
    background-color: #1bcdcc;
    color: white;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 2px;
    justify-self: center;
}

.submit-btn{
    border: none;
    width: fit-content;
    padding: 15px 30px;
    background-color: #1bcdcc;
    color: white;
    font-size: clamp(10px, 1.3vw, 20px);
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
}

.submit-btn:hover{
   border: 1px solid #1bcdcc;
    color: #1bcdcc;
    background-color: white;
}

.bear-full{
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .contact-form-container{
        height:calc(100% - 60px);
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 20px;
    }

    .name-block{
        flex-direction: column;
        row-gap: 12px;
    }

    .name-block .contact-form-input-block{
        width: 100%;

    }

    .contact-form{
        height: 480px;
        width: calc(100% - 60px);
        row-gap: 12px;
        justify-content: flex-start;
    }

    .contact-form-wrapper{
        width: calc(70% - 140px);
        height: calc(100% - 60px);
        background: white;
        border-radius: 26px;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit-btn{
        padding: 12px 25px;
    }

    .contact-form-input{
        padding: 12px 15px;
    }


}


@media (min-width: 601px) and (max-width: 768px) {

    .contact-form-container{
        height:calc(100% - 60px);
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 20px;
    }

    .name-block{
        flex-direction: column;
        row-gap: 12px;
    }

    .name-block .contact-form-input-block{
        width: 100%;

    }
    .contact-form-title{
        width: 85%;
    }

    .contact-form{
        height: 480px;
        width: 65%;
        row-gap: 12px;
        justify-content: flex-start;
    }

    .contact-form-wrapper{
        width: calc(85% - 80px);
        height: calc(100% - 60px);
        background: white;
        border-radius: 26px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .submit-btn{
        padding: 12px 25px;
    }

    .contact-form-input{
        padding: 12px 15px;
    }



}

@media screen and (max-width: 600px) {

    .contact-form-container{
        height:calc(100% - 60px);
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 20px;
    }

    .name-block{
        flex-direction: column;
        row-gap: 12px;
    }

    .name-block .contact-form-input-block{
        width: 100%;

    }
    .contact-form-title{
        width: 85%;
    }

    .contact-form{
        height: 480px;
        width: 65%;
        row-gap: 12px;
        justify-content: flex-start;
    }

    .contact-form-wrapper{
        width: calc(100% - 80px);
        height: calc(100% - 60px);
        position: relative;
        background: white;
        border-radius: 26px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .submit-btn{
        padding: 12px 25px;
    }

    .contact-form-input{
        padding: 12px 15px;
    }

    .bear-full{
        display: initial;
        position: absolute;
        bottom: -4%;
        left: -60px;
        width: 50%;
        min-width: 200px;
    }

}

@media screen and (max-width: 470px){
    .contact-form-title{
        width: 100%;
    }

    .contact-form{
        height: 480px;
        width: 100%;
        align-items: flex-end;
    }

    .contact-form-input-block{
        width: 65%;
    }


    .contact-form-input-block.email{
        width: 70%;
    }

    .name-block{
        width: 85%;
        align-items: flex-end;
    }


    .name-block .contact-form-input-block.name{
        width: 100%;

    }


    .name-block .contact-form-input-block.lastname{
        width: 90%;
    }

    .submit-btn{
        margin-right: 16%;
    }
}