.footer{
    background: #07233f;
    padding:30px 0px;
    text-align:center;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
    row-gap: 10px;
    font-size:1em;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color:#1bcdcc;
}

.footer .row ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    row-gap: 20px;
    padding: 0 10px;
}



.footer .row a svg{
    font-size:2em;
    margin:0% 1%;
}

.footer .row a svg:hover{
    fill: #1bcdcc;
}
